.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
venv
'Base de Datos'/__pycache__
'Base de Datos'/Admin
'Base de Datos'/Boleta_cab
'Base de Datos'/Boleta_det
'Base de Datos'/Cliente
'Base de Datos'/Consumo
'Base de Datos'/Hab_Categoria
'Base de Datos'/Habitacion
'Base de Datos'/Hotel
'Base de Datos'/Producto
'Base de Datos'/Renta
'Base de Datos'/Reserva
'Base de Datos'/Turno_admin